@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - AnyTimeDelivery</title>
    <!-- Fonts -->
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- CSS style sheet  -->
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true"/>
    <!-- Awesome fonts script -->
    <script src="https://kit.fontawesome.com/d931fd5b81.js" crossorigin="anonymous"></script>
    <!-- Bootstrap  -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>


</head>
<body>
<header>
    <!-- Menu  -->

    <div id="menuHolder">
        <div role="navigation" class="sticky-top border-bottom border-top" id="mainNavigation">
            <div class="flexMain ">
                <div class="flex2">
                    <button class="whiteLink siteLink" style="border-right:1px solid #eaeaea" onclick="menuToggle()">
                        <i
                            class="fas fa-bars me-2">
                        </i> MENU
                    </button>
                </div>
                <div class="flex3 text-center" id="siteBrands">
                    <a asp-controller="Home" asp-action="Index">
                        <div class="container">
                            <img width="200px" id="my-image" style="margin: 0;" src="~/images/logo-cropped.svg" alt="SVG Image">
                        </div>
                    </a>
                </div>
                <div class="flex2 text-end d-block d-md-none">
                    <button class="whiteLink siteLink">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

               
                <div class="flex2 text-end d-none d-md-block">
                   

                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <form class="siteLink" id="logoutForm" asp-controller="Account" asp-action="LogOut" method="post">
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="d-flex flex-column align-items-center">
                                    <span class="text-dark fw-bold">Logged in as:</span>
                                    <span class="text-dark mt-1">@Context.User.Identity.Name</span>
                                </div>
                                <button class="Login blackLink bg-dark siteLink  mx-2">
                                    Log out
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <button class="whiteLink siteLink">
                            <a style="text-decoration: none; color: inherit;" asp-controller="Account" asp-action="Register">REGISTER</a>
                        </button>
                        <button class="Login blackLink bg-dark siteLink">
                            <a style="text-decoration: none; color: inherit;" asp-controller="Account" asp-action="Login">Login</a>
                        </button>
                    }
                </div>

            </div>
        </div>

        <div id="menuDrawer">
            <div class="p-4 border-bottom">
                <div class="row">
                    <div class="col">
                        <select class="noStyle">
                            <option value="english">English</option>
                            <option value="arabic">Arabic</option>
                        </select>
                    </div>
                    <div class="col text-end ">
                        <i class="fas fa-times" role="btn" onclick="menuToggle()"></i>
                    </div>
                </div>
            </div>
            <div>
                @inject SignInManager<RegisterApp> SignInManager;
                <a asp-controller="Home" asp-action="Index" class="nav-menu-item"><i class="fas fa-home me-3"></i>Home</a>
                <a asp-controller="Home" asp-action="getAllOrders" class="nav-menu-item"><i class="fab fa-product-hunt me-3"></i>Orders</a>
                <a asp-controller="Deliver" asp-action="Index" class="nav-menu-item"><i class="fa-solid fa-hand-back-fist me-3"></i>Grab Order</a>
                <a asp-controller="Home" asp-action="CreateOrderInSeparatedPage" class="nav-menu-item"><i class="fas fa-dollar-sign me-3"></i>Pricing</a>
                @if(SignInManager.IsSignedIn(User) && User.IsInRole("Admin")){
                <a asp-controller="Administration" asp-action="ListRoles" class="nav-menu-item"><i class="fa-solid fa-user-shield"></i> Roles</a>
                }
                <a asp-controller="Home" asp-action="Index" asp-route-id="" class="nav-menu-item"><i class="fas fa-wrench me-3"></i>Services</a>

                <a asp-controller="Home" asp-action="AboutUs" class="nav-menu-item"><i class="fas fa-file-alt me-3"></i>AboutUS</a>

            </div>
        </div>
    </div>
    <!-- NavBar -->
    <div class="topDiv  bg-dark p-1  text-white">
        <div class="flexMain">
            <div class="flex1">

            </div>
            <div class="flex2 text-center">
                <div></div>
            </div>
            <div class="flex1">

            </div>
        </div>
    </div>
</header>
@* <div class="container"> *@
<main role="main" class="pb-3">
    <partial class="mt-4" name="_Notification" />
    @RenderBody()
</main>
@* </div> *@

<!-- FOOTER -->
<footer id="footer" class="FooterPart container-fluid">
    <div class="container py-2">
        <div class="row">
            <div class="col-md-4 d-none d-md-block">
                <h4>About Us</h4>
                <p>
                    Founded in 2023, our delivery service aims to bring convenience and joy to our customers' lives. We pride
                    ourselves on reliability, speed, and top-notch customer service.
                </p>
            </div>

            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>126 Haret Hriek<br>Bierut, LEB 1100<br>Phone: 81 753 181<br>Email: info@AnyTimeDelivery.com</p>
            </div>
            <div class="col-md-4">
                <h4>Connect with Us</h4>
                <div class="d-flex">
                    <a href="https://www.linkedin.com/in/hossien-raad-326a71227/" class="btn btn-linkedin me-2">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="#" class="btn btn-twitter me-2">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Our Delivery Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>


<div class="topDiv  bg-dark p-3  text-white "></div>
<!-- Javascript -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"   ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="~/js/indexHome.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>