@model Order


<form method="post" asp-controller="Deliver" asp-action="TakingOrder" asp-route-id="@Model.Id" style="background-color:#C5D5D9"
      class="col-lg-6 col-md-8 col-sm-10 g-3 gx-5 needs-validation pt-4 pb-2 my-4 mx-auto rounded">

    <div class="col-md-6 pb-3">
        <div class="col-md-6">
            <label asp-for="TypeOfCategories" class="form-label">Type</label>
            <select disabled asp-for="TypeOfCategories" id="selectedType" class="form-select rounded-pill" required>
                <option value="" disabled>Select Type</option>
                <option value="Electronics" selected>Electronics</option>
                <option value="Clothing and fashion">Clothing and fashion</option>
                <option value="Food and groceries">Food and groceries</option>
                <option value="Home and household">Home and household</option>
                <option value="Health and beauty">Health and beauty</option>
                <option value="Office supplies">Office supplies</option>
                <option value="Automotive">Automotive</option>
            </select>
        </div>
        <div class="col-md-6 mt-2">
            <label asp-for="OrderDate">Order Date:</label>
            <input disabled asp-for="OrderDate" class="form-control rounded-pill" type="datetime-local" id="OrderDate"
                   name="OrderDate">
        </div>
    </div>
    <div class="col-md-6">
        <label asp-for="NameOfRecipient">Name Of Recipient:</label>
        <input disabled asp-for="NameOfRecipient" type="text" class="form-control rounded-pill" id="NameOfRecipient"
               placeholder="Name of recipient" required>
        <div class="valid-feedback">
            Looks good
        </div>
    </div><br>

    <div class="col-12">
        <label asp-for="PickUpLocation">Pick Up Location:</label>
        <input disabled asp-for="PickUpLocation" type="text" class="form-control rounded-pill" id="PickUpLocation"
               placeholder="PickUpLocation" required>
        <div class="valid-feedback">
            Looks good
        </div>
    </div><br>
    <div class="col-12">
        <label asp-for="DropOffLocation">Drop Off Location:</label>
        <input disabled asp-for="DropOffLocation" type="text" class="form-control rounded-pill" id="DropOffLocation"
               placeholder="Drop-off Location" required>
        <div class="valid-feedback">
            Looks good
        </div>
    </div>
    <br>

    <div class="col-12">
        <label asp-for="Comments">Comment :</label>
        <textarea disabled asp-for="Comments" class="form-control rounded-pill" id="exampleFormControlTextarea1" rows="1"
                  placeholder="Comments" required></textarea>
    </div>
    <div>
        <input type="text" asp-for="RegisterAppId" hidden>
    </div>

    <br>
    <div class="row">
    <div class="col-2" >
        <button type="submit" class="btn btn-warning rounded-pill">Take Order</button>
    </div>
        <div class="col-2">
            <a asp-controller="Deliver" asp-action="Index"  class="btn btn-secondary">
                &nbsp; Go Back
            </a>
        </div>
        </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

