

@{
    ViewBag.Title = "AboutUs";
    Layout = "_Layout";
}

 
<section id="about" class="py-5">
   <div class="container">
     <div class="row">
       <div class="col-lg-10 offset-lg-1 text-center">
         <h2 class="mb-4">Delivering Excellence, Anytime</h2>
         <div class="row">
           <div class="col-md-6">
             <div class="text-center mb-4">
               <p class="text-justify">At Anytime Delivery, we are revolutionizing the delivery industry by providing a convenient and efficient platform for individuals to become delivery partners.</p>
               <i class="bi bi-people-fill"></i>
             </div>
           </div>
           <div class="col-md-6">
             <div class="text-center mb-4">
               <p class="text-justify">With our advanced technology and user-friendly interface, we connect customers with reliable and trustworthy delivery partners who can handle a wide range of deliveries.</p>
               <i class="bi bi-speedometer2"></i>
             </div>
           </div>
         </div>
         <div class="text-center mb-4">
           <p class="text-justify">What sets us apart is our commitment to building a strong community of delivery partners who are passionate about providing exceptional service.</p>
           <i class="bi bi-award-fill"></i>
         </div>
         <div class="text-center mb-4">
           <p class="text-justify">Join Anytime Delivery today and unlock the potential to earn on your own terms while making a positive impact on the delivery industry.</p>
           <i class="bi bi-hand-thumbs-up-fill"></i>
         </div>
       </div>
     </div>
   </div>
 </section>






