@model Order
<form method="post" asp-controller="Home" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr/>
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="NameOfRecipient"></label>
            <input asp-for="NameOfRecipient" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="DropOffLocation"></label>
            <input asp-for="DropOffLocation" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="PickUpLocation"></label>
            <input asp-for="PickUpLocation" disabled class="form-control"/>
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}