@model Order


<form method="post" asp-controller="Home" asp-action="EditOrder" style="background-color:#C5D5D9"
      class="col-md-6 g-3 gx-5 needs-validation  pt-4 pb-2 my-4 mx-auto rounded" novalidate>

    <div class="col-md-8 pb-3">
        <div class="col-md-6 ">
            <!-- <label for="selectedType" class="form-label bg-primary">Type</label> -->
            <select asp-for="Type" name="type" id="selectedType" class="form-select rounded-pill" required>
                <option value="" selected disabled>Select Type</option>
                <option value="Electronics">Electronics</option>
                <option value="Clothing and fashion">Clothing and fashion</option>
                <option value="Food and groceries">Food and groceries</option>
                <option value="Home and household">Home and household</option>
                <option value="Health and beauty">Health and beauty</option>
                <option value="Office supplies">Office supplies</option>
                <option value="Automotive">Automotive</option>

            </select>
        </div>
        <div class="col-md-6 p-2 ">
            <label asp-for="OrderDate" for="OrderDate ml-2">Order Date:</label>
            <input asp-for="OrderDate" class="form-control rounded-pill" type="datetime-local" id="OrderDate" name="OrderDate"
                   class="form-control">
        </div>
    </div>
    <div class="col-md-6 ">
        <input asp-for="NameOfRecipient" type="text" class="form-control rounded-pill" id="NameOfRecipient" placeholder="Name of recipient"
               required>
        <div class="valid-feedback">
            looks good
        </div>
    </div><br>

    <div class="col-12 ">
        <input asp-for="PickUpLocation" type="text" class="form-control rounded-pill" id="PickUpLocation" placeholder="PickUpLocation"
               required>
        <div class="valid-feedback">
            looks good
        </div>
    </div><br>
    <div class="col-12 ">
        <input asp-for="DropOffLocation" type="text" class="form-control rounded-pill" id="DropOffLocation" placeholder="Drop-off Location"
               required>
        <div class="valid-feedback">
            looks good
        </div>
    </div><br>


    <div class="col-12 ">

        <textarea  asp-for="Comments" class="form-control rounded-pill" id="exampleFormControlTextarea1" rows="1"
                 placeholder="Comments" required></textarea>


    </div><br>
    <div class="col-12">
        <button type="submit" class="btn btn-warning rounded-pill">Submit</button>
        <a asp-controller="Home" asp-action="getAllOrders" class="btn btn-secondary rounded-pill" style="width:150px">
            Back to List
        </a>
    </div>


</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}